{% extends 'layout.twig'%}
{%block title%}{{user.getFirstName}} {{user.getLastName}}{%endblock%}
{%block login%}<li class="login"><a href="/logout">Déconnexion</a></li>{%endblock%}
{%block body%}
<section id="user-block-body">
  <div>
    <div id="cover-block"  style="background:url('/img/home3.jpg') no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0)">
      <div id="b-user-info">
        <figure id="b-profil">
          {%if user.getPicture!=null%}
            <img src="/public/uploads/images/{{user.getPicture}}" alt="{{user.getFirstName}} {{user.getLastName}}" />
          {%else%}
            <img src="/img/jeune-diplome-homme.png" alt="default image" />
          {%endif%}
        </figure>
        <div id="b-info">
          <h2>{{user.getFirstName}} {{user.getLastName}}</h2>
          <h3>Membre depuis Le 31 Mars 2016</h3>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="b-options-user">
      <ul class="plus-options">
         <li class="first"><a href="/profile"><i class="glyphicon glyphicon-home"></i></a></li>
         <li class="first active"><a href="/account">Compte</a></li>
         <li class="first"><a href="/albums">Albums</a></li>
         <li class="first"><a href="/images">Images</a></li>
      </ul>
    </div>
  </div>
  <div id="b-content">
    <section id="b-account" class="sup-section">
  		<form action="/update" method="post" id="signup-form" enctype="multipart/form-data">
        <div id="account-f-input-container">
          <div id="left">
            <div class="field-box">
              <span>Image de couverture</span><br>
              <input type="file" class="filestyle" name="coverImage" id="coverImage"/>
            </div>
            <div class="field-box">
              <span>Image de profil</span><br>
              <input type="file" class="filestyle" name="picture" id="picture"/>
            </div>
            <div class="field-box">
              <label for="lastName">Nom</label><br>
              <input type="text" name="lastName" id="lname" class="form-child sup" value="{{user.getLastName}}"/>
              <p class="error-message first">Le nom doit être renseigné.</p>
            </div>
            <div class="field-box">
      				<label for="firstName">Prénom</label><br>
      				<input type="text" name="firstName" id="fname" class="form-child sup" value="{{user.getFirstName}}"/>
      				<p class="error-message first">Le prénom doit être renseigné.</p>
      			</div>
      			<div class="field-box">
      				<label for="email">Email</label><br>
      				<input type="text" name="email" id="email" class="form-child sup" value="{{user.getEmail}}"/>
      				<p class="error-message first">L'email doit être renseigné.</p>
      			</div>
      			<div class="field-box">
      				<label for="pwd">Mot de passe</label><br>
      				<input type="password" name="password" id="pwd" class="form-child sup" value="{{user.getPassword}}"/>
      				<p class="error-message first">Le mot de passe doit être renseigné</p>
      			</div>
          </div>
          <div id="right">
            <div class="field-box">
      				<span class="desc-span">Dites quelques choses à propos de vous</span><br>
      				<textarea name="description" id="description">{{user.getDescription}}</textarea>
      			</div>
          </div>
        </div>
  			<div class="field-box sup-btn">
  				<input type="submit" name="submit-btn" id="submit-btn" class="s-btn"/>
  			</div>
  		</form>
  	</section>
  </div>
</section>
{%endblock%}
{%block js%}
  <script type="text/javascript" src="/vendor/ckeditor/ckeditor.js"> </script>
  <script type="text/javascript" src="/vendor/ckeditor/adapters/jquery.js"></script>
  <script type="text/javascript" src="/js/options.js"></script>
{%endblock%}
