{% extends 'layout.twig'%}
{%block title%}{{user.getFirstName}} {{user.getLastName}}{%endblock%}
{%block login%}<li class="login"><a href="/logout">Déconnexion</a></li>{%endblock%}
{%block body%}
<section id="user-block-body">
  <div>
    <div id="cover-block"  style="background:url('/img/home3.jpg') no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0)">
      <div id="b-user-info">
        <figure id="b-profil">
          {%if user.getPicture!=null%}
            <img src="/public/uploads/images/{{user.getPicture}}" alt="{{user.getFirstName}} {{user.getLastName}}" />
          {%else%}
            <img src="/img/jeune-diplome-homme.png" alt="default image" />
          {%endif%}
        </figure>
        <div id="b-info">
          <h2>{{user.getFirstName}} {{user.getLastName}}</h2>
          <h3>Membre depuis Le 31 Mars 2016</h3>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="b-options-user">
      <ul class="plus-options">
        <li class="first active"><a href="/profile"><i class="glyphicon glyphicon-home"></i></a></li>
        <li class="first"><a href="/account">Compte</a></li>
        <li class="first"><a href="/albums">Albums</a></li>
        <li class="first"><a href="/images">Images</a></li>
      </ul>
    </div>
  </div>
  <div id="b-content" class="profile">
    <div id="b-desc">
      {%if user.getDescription!=null%}*
        <h2>À propos </h2>
        {{user.getDescription}}
      {%else%}
        <h2>Dites quelques choses sur vous.</h2>
      {%endif%}
    </div>
    <div id="home-images-container">
      <h2>Images Récentes</h2>
      <div class="sperated-line"></div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/img/default_image.png" alt="...">
            <div class="caption">
              <h3>...</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/img/default_image.png" alt="...">
            <div class="caption">
              <h3>...</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/img/default_image.png" alt="...">
            <div class="caption">
              <h3>...</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
